button {
  width: 200px;
  padding: 30px;
  border: none;
  border-radius: 50px;
  background-color: #845ec2;
  color: #ffc75f;
  font-size: 30px;
  cursor: pointer;
}

button:focus,
button:hover {
  outline: none;
  box-shadow: 3px 19px 29px -9px rgba(0, 0, 0, 0.7);
}

button:disabled {
  background-color: #b0a8b9;
  color: #4b4453;
  cursor: auto;
}

button:disabled:hover {
  box-shadow: none;
}
