@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

.timer {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
  padding: 10px 20px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.value {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 5px;
  text-shadow: 3px 2px 2px #8d7e7e57;
}

.label {
  text-transform: uppercase;
  color: dimgray;
  font-size: 14px;
  text-shadow: 3px 2px 2px #2c24243a;
}
