body {
  text-align: center;
  background: #00ecb9;
  font-family: sans-serif;
  font-weight: 100;
}

#timer-1 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  font-size: 30px;
}

.field {
  padding: 20px;
  border-radius: 3px;
  background: #00bf96;
}

.value {
  display: flex;
  padding: 15px;
  border-radius: 3px;
  background: #00816a;
}

.label {
  padding-top: 5px;
  font-size: 16px;
}
